#scripts {

  .script-list .badge {
    margin-left: 0;
    float: none;
  }

  .card {
    /*margin-bottom: 60px;*/
  }

  @media only screen and (max-width: 599px) {
    .card-action {
      border-top: 0 !important;
      padding: 0 !important;
      height: 0;
      transition: padding 0.5s ease 0s,
      height 0.5s ease 0s;
    }

    .card-action a i {
      transform: scale(0);
      transition: transform 0.1s ease 0.1s;
    }
    .card:hover > .card-action {
      height: 55px;
      padding: 16px 24px !important;
    }

    .card:hover > .card-action > a > i {
      transform: scale(1);
    }
  }

}